[Desktop Entry]
Name=X16 VERA Documentation
Comment=VERA Documentation Commander X16 8-bit computer
Exec=x16emu.vera-docs
Icon=${SNAP}/meta/gui/x16emu.png
Type=Application
Categories=Game;Emulator;
Keywords=Game;Emulator;Arcade;

